@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: white;
}